extends layout

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(class="navbar")
    p(class="welcome") Welcome to Fitness Overflow
    div
      input(type="text" class="search" name="search" id="search" placeholder="Search...")
      button(type='button' id="searchButton" ) Search for Questions
    a(href="/questions/ask")
      input(type='button' value="Ask a Question")
  h2(class="indexHeader") List of Questions
  ul(id="questionContainer")
    each question in questions
      li(class="questionContainer")
        a(href=`/questions/${question.id}` class="question")
          p Q: #{question.title}
        p= question.body
        div
          div(class="info") asked #{question.createdAt} by #{question.userId}
