extends layout

append head

  link(rel="stylesheet" href="/stylesheets/index.css")
  <!-- HTML Meta Tags -->
title(Fitness Overflow)
meta(name="description" content="Ask or answer fitness-related questions and vote on first-rate solutions with this simple yet effective Stack Overflow clone. ")

<!-- facebook Meta Tags -->
meta(property="og:url" content="https://fitness-overflow.herokuapp.com/")
meta(property="og:type" content="website")
meta(property="og:title" content="")
meta(property="og:description" content="Ask or answer fitness-related questions and vote on first-rate solutions with this simple yet effective Stack Overflow clone. ")
meta(property="og:image" content="https://live.staticflickr.com/65535/51137574747_bcc3051625_b.jpg")

<!-- twitter Meta Tags -->
meta(name="twitter:card" content="summary_large_image")
meta(property="twitter:domain" content="fitness-overflow.herokuapp.com")
meta(property="twitter:url" content="https://fitness-overflow.herokuapp.com/")
meta(name="twitter:title" content="")
meta(name="twitter:description" content="Ask or answer fitness-related questions and vote on first-rate solutions with this simple yet effective Stack Overflow clone. ")
meta(name="twitter:image" content="https://live.staticflickr.com/65535/51137574747_bcc3051625_b.jpg")

<!-- meta Tags Generated via https://www.opengraph.xyz -->


  script(src="/javascripts/index.js" type="module" defer)

block content
  div(class="navbar2")
    div(class="search-bar")
      input(type="text" class="search" name="search" id="search" placeholder="Search...")
      button(type='button' id="searchButton" ) Search for Questions
    a( href="/questions/ask")
      input(class="button" type='button' value="Ask a Question")
  h2(class="indexHeader")
  div(id="questionsContainer")
    each question in questions
     a(href=`/questions/${question.id}` class="questionLink")
      div(class="question")
        p Q: #{question.title}
        p= question.body
        div
          if(question.Answers)
            div(class="answers") Answers: #{question.Answers.length}
          else
            div(class="answers") Answers: 0
          div(class="info") asked at #{question.createdAt.toString().slice(0,15)} by #{question.User.username}
