extends layout

append head

  link(rel="stylesheet" href="/stylesheets/index.css")

  script(src="/javascripts/index.js" type="module" defer)

block content
  div(class="navbar2")
    div
      input(type="text" class="search" name="search" id="search" placeholder="Search...")
      button(type='button' id="searchButton" ) Search for Questions
    a(href="/questions/ask")
      input(type='button' value="Ask a Question")
  h2(class="indexHeader")
  div(id="questionsContainer")
    each question in questions
     a(href=`/questions/${question.id}` class="questionLink")
      div(class="question")
        p Q: #{question.title}
        p= question.body
        div
          if(question.Answers)
            div(class="answers") Answers: #{question.Answers.length}
          else
            div(class="answers") Answers: 0
          div(class="info") asked at #{question.createdAt.toString().slice(0,15)} by #{question.User.username}
