extends layout.pug

append head

  link(rel="stylesheet" href="/stylesheets/show-question.css")

block content
 h1 Question:
 div(class="question-container")
  h4(class="question-title")= question.title
  p(class="question-body")= question.body
  if (userId === question.authorId)
   p: a(href=`/questions/${question.id}/edit`) Edit
   p: a(href=`/questions/${question.id}/delete`) Delete
  else
   p: a(href=`/questions/${question.id}/answer` class="question-answer") Answer
 div(class="space")
 if (answers.length >= 1)
  h1 Answers:
 div(class="answers-container")
    each answer in answers
     div(class="answer")
      div(class="answer-body")= answer.body
      if (userId === answer.authorId)
        div(class="answer-links")
          p: a(href=`/questions/${question.id}/answer/${answer.id}/edit`) Edit
          p: a(href=`/questions/${question.id}/answer/${answer.id}/delete`) Delete
