extends layout.pug

block content
    h4= question.title

    p= question.body
    div
        each answer in answers
            div
              dl
              dt Answer:
              dd= answer.body
              if (userId === answer.authorId)
                p: a(href=`/questions/${question.id}/answer/${answer.id}/edit`) Edit this Answer?
                p: a(href=`/questions/${question.id}/answer/${answer.id}/delete`) Delete this Answer?
    if (userId === question.authorId)
        div
            p: a(href=`/questions/${question.id}/edit`) Edit this question?
        div
            p: a(href=`/questions/${question.id}/delete`) Delete this question?
    if (userId !== question.authorId)
        div
            p: a(href=`/questions/${question.id}/answer`) Answer this question?
