extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/votes.js" type="module" defer)

include utils.pug

block content
    div(class="hidden" id="questionId")=question.id 
    h4= question.title

    p= question.body
    dl
        each answer in answers
            dt Answer:
            dd= answer.body
            div(class="voting-container" id=`${answer.id}`) votes
                button(class=`voteBtn upVote ${answer.id}` data-click-id="upvote") up
                
                div(class ='totalVotes')= upvotes  
                button(class="voteBtn downVote" ) down
                    i(class='icon-downvote')

    if (userId === question.authorId)
        div
            p: a(href=`/questions/${question.id}/edit`) Edit this question?
        div
            p: a(href=`/questions/${question.id}/delete`) Delete this question?
    if (userId !== question.authorId)
        div
            p: a(href=`/questions/${question.id}/answer`) Answer this question?
     
