extends layout.pug

append head
  //- link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/show-question.css")
  link(rel="stylesheet" href="/stylesheets/votes.css")
  script(src="/javascripts/votes.js" type="module" defer)

block content
 h1 Question:
 div(class="question-container")
  div(id="questionId" class="hidden")= question.id
  h4(class="question-title")= question.title
  p(class="question-body")= question.body
  if (userId === question.authorId)
    div(class='question-links')
      p: a(href=`/questions/${question.id}/edit`) Edit
      p: a(href=`/questions/${question.id}/delete`) Delete
  else
   p: a(href=`/questions/${question.id}/answer` class="question-answer") Answer
 div(class="space")
 if (answers.length >= 1)
  h1 Answers:
 div(class="answers-container")
   each answer in answers
    div(class="answer")
     div(class="answer-top")
      div(class="voting-container" id=`${answer.id}`)
        if(answer.voted === "up")
          img(class=`voteBtn upVote ${answer.id} upVoted` src="/images/upvoted.png")
        else
          img(class=`voteBtn upVote ${answer.id}` src="/images/up.png")
        div(class ='totalVotes')= upvotes
        if(answer.voted === "down")
          img(class="voteBtn downVote downVoted" src="/images/downvoted.png")
        else
          img(class="voteBtn downVote" src="/images/down.png")
      div(class="answer-body")= answer.body
     div(class="answer-bottom")
      if (userId === answer.authorId)
       div(class="answer-links")
        p: a(href=`/questions/${question.id}/answer/${answer.id}/edit`) Edit
        p: a(href=`/questions/${question.id}/answer/${answer.id}/delete`) Delete
