//- extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/login.css")
  //- add page specific js
  title="Fitness Overflow"
  link(rel="shortcut icon" href="/lifting.ico")
  link(rel='stylesheet' href='/stylesheets/layout.css')
  link(rel="stylesheet" href="/stylesheets/reset.css")
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
<!-- HTMLMeta Tags -->
  title(Fitness Overflow)
  meta(name="description"
        content="Ask or answer fitness-related questions and vote on first-rate solutions with this simple yet effective Stack Overflow clone. ")

<!-- facebookMeta Tags -->
  meta(property="og:url" content="https://fitness-overflow.herokuapp.com/")
  meta(property="og:type" content="website")
  meta(property="og:title" content="Fitness Overflow")
  meta(property="og:description"
        content="Ask or answer fitness-related questions and vote on first-rate solutions with this simple yet effective Stack Overflow clone. ")
  meta(property="og:image" content="https://live.staticflickr.com/65535/51137574747_bcc3051625_b.jpg")

<!-- twitter Meta Tags -->
  meta(name="twitter:card" content="summary_large_image")
  meta(property="twitter:domain" content="fitness-overflow.herokuapp.com")
  meta(property="twitter:url" content="https://fitness-overflow.herokuapp.com/")
  meta(name="twitter:title" content="Fitness Overflow")
  meta(name="twitter:description"
        content="Ask or answer fitness-related questions and vote on first-rate solutions with this simple yet effective Stack Overflow clone. ")
  meta(name="twitter:image" content="https://live.staticflickr.com/65535/51137574747_bcc3051625_b.jpg")

  script(src="/javascripts/demo-login.js" type="module" defer)

include utils.pug

block content
  .container
    form(class="auth-form" action='/users/login' method='post')
      +validationErrorSummary(errors)
      //- image(class="logo" src="/pictures/logoTransparent.png")
      image(class="logo" src="/pictures/lifting.png")
        div(class="title") Fitness Overflow
      input(type='hidden' name='_csrf' value=csrfToken)
      div(class='emailLogin--row')
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png' class="login-icon")
        input(type="text" id="email" name="email" placeholder="Email")
      div(class="password--row")
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png' class="login-icon")
        input(type="password" id="password" name="password" placeholder="Password")
      div(class='login-btn')
        button(class="btn--login" type='submit' ) Login
    form(class="auth-form" action='/users/login' method='post')
      div(class='login-btn')
      input(type='hidden' name='_csrf' value=csrfToken)
      input(type='hidden' id='email' name='email' value='demoUser@demo.com')
      input(type='hidden' id='password' name='password' value='DemoPass123!')
      div(class='login-btn--login')
        button(class="btn" type='submit') Demo Login
      div(class="account--row")
        P: a(href='/users/signup' class="linked") Don't have an account?

